In [2]:
from pykdb import Futures
from datetime import datetime

start = datetime(2016, 1, 4)
end = datetime(2016, 1, 10)

obj = Futures()

In [4]:
obj.symbols[0:10]

['F101-1609',
 'F101-1612',
 'F101-1703',
 'F101-1706',
 'F101-1709',
 'F101-1712',
 'F101-1806',
 'F101-1812',
 'F101-1906',
 'F101-1912']

In [6]:
obj.names['F101-1609']

'日経平均先物'

In [7]:
obj.contracts['F101-1609']

'2016年09月限'

In [11]:
# 指定銘柄の時系列データ取得
# freq 頻度を指定('1d', '4h', '1h', '30m', '15m', '5m')
df = obj.price(date_from=start, date_to=end, symbol='F101-1609', freq='1d')
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>時刻</th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>08:00</td>
      <td>18790</td>
      <td>18790</td>
      <td>18370</td>
      <td>18370</td>
      <td>5</td>
      <td>93050</td>
    </tr>
    <tr>
      <th>2016-01-04</th>
      <td>20:00</td>
      <td>17970</td>
      <td>18050</td>
      <td>17960</td>
      <td>18050</td>
      <td>7</td>
      <td>126010</td>
    </tr>
    <tr>
      <th>2016-01-04</th>
      <td>12:00</td>
      <td>18360</td>
      <td>18360</td>
      <td>18250</td>
      <td>18250</td>
      <td>5</td>
      <td>91410</td>
    </tr>
    <tr>
      <th>2016-01-04</th>
      <td>16:00</td>
      <td>18060</td>
      <td>18060</td>
      <td>18060</td>
      <td>18060</td>
      <td>1</td>
      <td>18060</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>20:00</td>
      <td>18100</td>
      <td>18170</td>
      <td>18100</td>
      <td>18170</td>
      <td>4</td>
      <td>72570</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>16:00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>00:00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>08:00</td>
      <td>18360</td>
      <td>18360</td>
      <td>18360</td>
      <td>18360</td>
      <td>1</td>
      <td>18360</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>12:00</td>
      <td>18400</td>
      <td>18400</td>
      <td>18220</td>
      <td>18220</td>
      <td>5</td>
      <td>91600</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>04:00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
# 全銘柄の時系列データ取得
# session セッションを指定(None=全部, 'e'=夜間) 省略時は全部
df = obj.price_all(date_from=start, date_to=end, session='e')
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th>先物</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="10" valign="top">2016-01-04</th>
      <th>225mini先物 2016年01月限</th>
      <td>18830</td>
      <td>18955</td>
      <td>18380</td>
      <td>18395</td>
      <td>65707</td>
      <td>1222298365</td>
    </tr>
    <tr>
      <th>225mini先物 2016年02月限</th>
      <td>18840</td>
      <td>18955</td>
      <td>18380</td>
      <td>18410</td>
      <td>4614</td>
      <td>85888285</td>
    </tr>
    <tr>
      <th>225mini先物 2016年03月限</th>
      <td>18820</td>
      <td>18950</td>
      <td>18370</td>
      <td>18390</td>
      <td>796420</td>
      <td>14801667022</td>
    </tr>
    <tr>
      <th>225mini先物 2016年04月限</th>
      <td>18710</td>
      <td>18820</td>
      <td>18260</td>
      <td>18270</td>
      <td>287</td>
      <td>5310855</td>
    </tr>
    <tr>
      <th>225mini先物 2016年06月限</th>
      <td>18710</td>
      <td>18835</td>
      <td>18250</td>
      <td>18280</td>
      <td>5413</td>
      <td>99998145</td>
    </tr>
    <tr>
      <th>225mini先物 2016年09月限</th>
      <td>18685</td>
      <td>18795</td>
      <td>18240</td>
      <td>18250</td>
      <td>436</td>
      <td>8034910</td>
    </tr>
    <tr>
      <th>225mini先物 2016年12月限</th>
      <td>18560</td>
      <td>18690</td>
      <td>18130</td>
      <td>18140</td>
      <td>474</td>
      <td>8683890</td>
    </tr>
    <tr>
      <th>225mini先物 2017年03月限</th>
      <td>18525</td>
      <td>18645</td>
      <td>18100</td>
      <td>18105</td>
      <td>90</td>
      <td>1649495</td>
    </tr>
    <tr>
      <th>225mini先物 2017年06月限</th>
      <td>18420</td>
      <td>18495</td>
      <td>17990</td>
      <td>17990</td>
      <td>86</td>
      <td>1573225</td>
    </tr>
    <tr>
      <th>225mini先物 2017年12月限</th>
      <td>18155</td>
      <td>18155</td>
      <td>17860</td>
      <td>17860</td>
      <td>19</td>
      <td>341865</td>
    </tr>
  </tbody>
</table>
</div>